header{
    margin-left: 1rem;
    position:relative;
}

main{
    background-color: #f2f2f2;
}

.contenitore_centrale{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    
}


#toboolist{
    font-family: 'Arial',  sans-serif;
    font-size: 2rem;
    font-weight: 700;
    position:absolute;
    bottom: 0.5rem;
}

.button{
    margin-top: 1rem;
    margin-left: 2rem;

}

.add{
    
    font-family: 'Arial',  sans-serif ;
    border-radius: 5px;
    padding: 0.5rem;
    border-color: #f2f2f2;
}

.task{
    background-color: #66ccff;
    color: white;
}

.section{
    background-color: white;
    color: lightgray;
}

.task_section{
    margin-left: 2rem;
    margin-top: 2rem;
    font-family: 'Arial',  sans-serif;
}

.space{
    margin-top: 1rem ;
    font-weight: 500;
}

.new_task{
    font-size: 1.2rem;
    font-weight: 600;
}

.check{
    border: 0.1rem solid green;
    border-radius: 50%;
    padding: 0.2rem;
    color: green;
}

.editorial{
    background-color: #66ccff;
    color: white;
    padding: 0.4rem;
    border-radius: 10px;
    font-size: 0.7rem;
}

#q1goals{
    background-color: #bc42f5;
    color: white;
    padding: 0.4rem;
    border-radius: 10px;
    font-size: 0.7rem;

}

.cross{
    
        border: 0.1rem solid red;
        border-radius: 50%;
        padding: 0.2rem;
        color: red;

}

#recruiting{
    background-color: #42f595;
    color: white;
    padding: 0.4rem;
    border-radius: 10px;
    font-size: 0.7rem;
    
}

#mobile{
    background-color: #f59342;
    color: white;
    padding: 0.4rem;
    border-radius: 10px;
    font-size: 0.7rem;

}
    

    

    
    
    